# Laravel & PHP
/vendor
/node_modules
/.phpunit.cache
.phpunit.result.cache
/.fleet
/.idea
/.vscode

# Laravel storage & logs
/public/storage
/storage/*.key
/storage/logs/laravel.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Build / assets
/public/build
/public/hot

# Environment files
.env
laradumps.yaml
